/* Reset some basic styles */
body {
    margin: 0;
    padding: 0;
    font-family:Georgia, 'Times New Roman', Times, serif;
    background-color: #81b5ea;
}

/* Center the login container */
.login-container {
    width: 100%;
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
}

.login-container h1 {
    margin-bottom: 20px;
    color: #333;
}

.input-group {
    margin-bottom: 15px;
    text-align: left;
    padding-right: 15px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
    outline: none;
}

.input-group input:focus {
    border-color: #007BFF;
}

button {
    width: 100%;
    max-width: 400px;
    padding: 8px;
    background-color: #007BFF;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.signup-link {
    margin-top: 15px;
    font-size: 14px;
    color: #555;
}

.signup-link a {
    color: #007BFF;
    text-decoration: none;
}

.signup-link a:hover {
    text-decoration: underline;
    ;
}

.center{
    text-align: center;
    margin: 2px;
    color:red;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: small;
}

.table th, .table td {
    white-space: nowrap;
}
