{% extends "admin_layout.html" %}
{% block content %}

    <div class="card shadow-lg">
        <div class="card-header text-center">
            <h5 class="card-title mb-0">Summary report</h5>
        </div>
        <div class="card-body">
            <div class="row"> 
                <div class="col-md-6">
                    <br>
                    <img src="/static/bar.png" alt="Bar chart">
                </div>
                <div class="col-md-6"> 
                    <img src="/static/pie.png" alt="Pie chart" >
                </div>
            </div>
        </div>
    </div>



   

{% endblock %}
