<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login page</title>
    <!-- <link rel="stylesheet" href="/My_movie_ticket/static/main.css"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">

</head>
<body>
    <div class="login-container">
        <img src="/static/Screenshot 2025-03-05 200445.png" alt="missing" width="180px">
        <h1 >Login</h1>
        <form action="/login" method="POST">
            <div class="input-group">
                <label for="email">Email</label>
                <input type="email" name="email" id="email" placeholder="Enter your email" required>
            </div>
            <div class="input-group">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" placeholder="Enter your password" required>
            </div>
            <button type="submit">Login</button>
        </form>
        <p class="signup-link">Don't have an account? <a href="/register">Sign up</a></p>
        <div class="center">{{msg}}</div>
    </div>
</body>
</html>